name: Sync Leetcode History

on:
  workflow_dispatch: # This allows you to manually pull those 26 problems right now
  schedule:
    - cron: '0 0 * * *' # This will check for new solved problems every night

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Sync
        uses: joshcai/leetcode-sync@v1.5
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          leetcode-csrf-token: ${{ secrets.LEETCODE_CSRF_TOKEN }}
          leetcode-session: ${{ secrets.LEETCODE_SESSION }}
          destination-folder: leetcode-solutions # This creates a folder inside your DSA repo
          verbose: true
          commit-header: '[LeetCode Sync]'
